
<html>

<head>

<meta charset='utf-8'>

<title>查詢6大指標（新版優化）</title>


</head>


<body>




<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
<td>

    {% if request.user.is_authenticated %}
    	<FONT SIZE="7">歡迎光臨！！</FONT>

        <p><a href="/logout/"><FONT SIZE="7">登出</FONT></a></p>
    {% else %}
        <p><FONT SIZE="7">您尚未登入喔~</FONT></p>
        <a href="/login/"><FONT SIZE="7">登入</FONT></a>
    {% endif %}
</td>
</tr>
</table>



<table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
  <td align="center">
  <form action="." method="GET" name="form">

 
          <input type="submit" value="送出資料"  style="font-size:60px"></div>



</td>
</tr>
<tr>
    <td>
        <img src={{Url}} with="600" heigh="400" alt="一張圖片">
    </td>
</tr>
</table>

<br><br>



