
<html>

    <head>
    
    <meta charset='utf-8'>
    
    <title>批踢踢表特秀圖app free</title>

    </head>

    <body>

    
    <table border="2" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <tr>
        <td>注意事項</td>

    
    </tr>
    <tr>
        <td>
            伺服器長久未使用，再度喚醒需要30秒的時間<br>，若出現不正常畫面，再按「亂術選擇」便可。
        </td>
    </tr>

    <tr>
        <td>
            <a href="showptpic/">前往批踢踢表特秀圖</a>
        </td>
    </tr>
    </table>
    
    </body>
    </html>
    
    
    
    