
<html>

    <head>
    
    <meta charset='utf-8'>
    
    <title>批踢踢表特秀圖app free</title>

    </head>

    <body>

    
    <table border="0" cellpadding="1" cellspacing="5"  style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <tr>
        <td><font size=7>注意事項</font></td>

    
    </tr>
    <tr>
        <td>
            <font size=7>伺服器長久未使用，再度喚醒需要30秒的時間<br>，若出現不正常畫面，再按「亂數選擇」便可。</font>
        </td>
    </tr>

    <tr>
        <td>
            <a href="/showpttpic/"><font size=7>前往批踢踢表特秀圖</font></a>
        </td>
    </tr>
    </table>
    
    </body>
    </html>
    
    
    
    